body {
  margin: 0;
  font-family: 'Exo 2','Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --default-color: #1698D9;
  --selected-color: #D91667;
  --secondary-background: #FFFFFF; 
  --external-text-color: #FFFFFF;
  --secondary-text-color: #666666;
  --interior-text-color: #000000;
  --xxs-size: 16px;
  --xs-size: 24px;
  --s-size: 36px;
  --m-size: 42px;
  --l-size: 46px;
  --xl-size: 48px;
  --xxs-line-height: 16px;
  --xs-line-height: 19px;
  --s-line-height: 22px;
  --m-line-height: 28px;
  --l-line-height: 44px;
  --xl-line-height: 56px;
  --normal: 400;
}